{{ $item := .item }}
{{/* Dynamic view adjusts to content type. */}}
{{ $show_authors_only := false }}{{/* Show authors only or full metadata? */}}
{{ $link := $item.RelPermalink }}
{{ $target := "" }}
{{ if $item.Params.external_link }}
{{ $link = $item.Params.external_link }}
{{ $target = "target=\"_blank\" rel=\"noopener\"" }}
{{ end }}
{{ if eq $item.Type "event" }}
{{ $show_authors_only = true }}
{{ else if eq $item.Type "publication" }}
{{ $show_authors_only = true }}
{{ else if eq $item.Type "project" }}
{{ $show_authors_only = true }}
{{ end }}

{{ $has_attachments := partial "functions/has_attachments" $item }}

{{/* Get summary. */}}
{{ $summary := "" }}
{{ if $item.Params.summary }}
{{ $summary = $item.Params.summary | markdownify | emojify }}
{{ else if $item.Params.abstract }}
{{ $summary = $item.Params.abstract | markdownify | emojify | truncate (site.Params.abstract_length | default 135) }}
{{ else if $item.Summary }}
{{ $summary = $item.Summary }}
{{ end }}

<!-- {{$item.Params}} -->
<div class="col-12 justify-content-center">
    <div class="row text-center justify-content-center">
<section class="reseach accordion pb-3">
    <div class="tab">
        <input type="checkbox" name="accordion-1" id="{{$link}}">
        <label for="{{$link}}" class="tab__label">{{ $item.Title }}</label>
        <div class="tab__content mt-1">
            {{$item.Content|markdownify|emojify}}     
        </div>
    </div>
</section>
</div>
</div>